
:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --added-text-color:#FFFFFF;
    --logo-button-text-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --background-color-hover:#2196F3;
    --background-color-added:#2F303A;
    --text-color: #000000;
    --text-color-footer:rgba(255, 255, 255, 0.6);
    --active-button-color: #188CE8;
    --color-shadow: #rgba(0, 0, 0, 0.15);
}

body {
    background-color: var(--primary-background-color) ;
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: auto 15px;
    outline: 2px solid tomato;
}
/* Navigation's site */

.logo-letters {
    color: var(--logo-button-text-color);
}
.logo-header {
    color: var(--text-color);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.link {
    color: var(--secondary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.link:hover,
.link:focus {color: var(--logo-button-text-color);
}

.link.current {
    color: var(--logo-button-text-color);
}

/* Links to contacts */
.site-contacts {
   color: var(--primary-text-color);
   text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-contacts:hover,
.site-contacts:focus {
    color: var(--logo-button-text-color);
}

/* Hero */
.hero {
    background-color: var(--background-color-added);
    text-align: center;
    margin-bottom: 94px;
}
.hero-title {
    color: var(--added-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 0;
}
.hero-button {
    background-color: var(--logo-button-text-color);
    color: var(--added-text-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    cursor: pointer;
    border-radius: 4px;
    min-width: 216px;
    padding: 10px 32px;
    border-width: 0;
    box-shadow: 0px 4px 4px var(--color-shadow);
}
.hero-button:hover,
.hero-button:focus {
    background-color: var(--active-button-color);
}

/* Features and Images of the portfolio*/
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
        }
.features-title {
    color: var(--secondary-text-color);
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0;
}
.features-list {
    margin: 0;
}

/* Our works */
.our-work-title, .our-teams-title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
}

/* Our teams */
.our-teams-name {
    color: var(--secondary-text-color);
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.our-team-profession {
    margin: 0;
    font-size: 16px;
    line-height: 1.19;
}
.team {
    background-color: var(--secondary-background-color);
}
.our-teams {
    padding-bottom: 94px;
}

/* Adress */
.footer {
    background-color: var(--background-color-added);

}
.logo-footer {
    color: var(--added-text-color);
    text-decoration: none;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    margin-top: 60px;
    margin-bottom: 20px;
}
.footer-contacts {
    color: var(--text-color-footer);
    display: inline-block;
    font-style: normal;
    text-decoration: none;
    margin-bottom: 9px;
}
.footer-adress {
    color: var(--added-text-color);
    display: inline-block;
    font-style: normal;
    text-decoration: none;
    margin-bottom: 9px;
}
.footer-adress:hover,
.footer-adress:focus{
    color: var(--added-text-color);
}
.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--added-text-color);
}


/* Portfolio.html */
/* Filtr buttons */
.filtr {
    background-color: var(--secondary-background-color);
    color: var(--secondary-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.filtrs{
    margin-top: 94px;
    margin-bottom: 50px;
}
.filtr:hover,
.filtr:focus {
    background-color: var(--logo-button-text-color);
    color: var(--added-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}
/* Hero in Portfolio.html */
.portfolio-link{
    text-decoration: none;
}
.portfolio-title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-top: 20px;
    margin-bottom: 0;
}
.portfolio-list {    
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    margin-top: 4px;
    margin-bottom: 0;
}
.portfolio.list {
    padding-bottom: 94px;
}